<div class="post">
  <h3><%= @post.title %></h3>
  <p><%= @post.body %></p>

  <div class="author-options">
    <% if current_user == @post.author %>
    <%= link_to "Edit Post", edit_post_url %>
    <%= link_to "Delete Post", post_url, method: :delete, data: { confirm: 'This action cannot be undone.  Are you sure you want to delete your post?' } %>
    <% end %>
  </div>
</div>

<h4>Comments</h4>

<div class="comments">
  <% if @comments.empty? %>
    <p>No comments to display</p>
  <% end %>
  <% @comments.each do |comment| %>
    <% author = comment.author %>
    <div class="comment">
      <div class="comment-body"><%=comment.body%></div>
      <div class="comment-author">Posted by: <%=author.fname + ' ' + author.lname%></div>

      <div class="author-options">
        <% if current_user == comment.author %>
        <%= link_to "Edit Comment", edit_post_comment_url(@post, comment) %>
        <%= link_to "Delete Comment", post_comment_url(@post, comment), method: :delete, data: { confirm: 'This action cannot be undone.  Are you sure you want to delete your comment?' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= will_paginate @comments %>

<div class="add-comment">
<% if current_user %>
    <!-- <%= link_to "Add Comment", new_post_comment_url(@post) %> -->
    <h4>Add a Comment</h4>

    <form action="<%=post_comments_url(@post)%>" method="POST">
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">

      <label>
        <textarea name="comment[body]"></textarea>
      </label>
      <br>

      <input type="Submit" value="Submit">
    </form>
  <% else %>
    <p>You must be signed in to comment!</p>

    <p> Please <%= link_to "sign in", "#sign_in", "data-toggle": "modal" %>
      or <%= link_to "sign up", "#sign_up", "data-toggle": "modal"%>. </p>
<% end %>
  </div>
